.card {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 50%;
  text-align: center;
  margin: 1%;
  border: 1px solid #cccccc;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .card {
    flex-basis : 40%;
  }
}
@media screen and (min-width: 992px) {
  .card {
    flex-basis : 20%;
  }
}
img {
  max-width: 90%;
  max-height: 80%;
  padding: 20px;
}
.image {
  height: 80%;
  width: 90%;
}
.info {
  background-color: #F0F0F0;
  display: flex;
  align-items: center;
  height: 20%;
}
.detail {
  flex: 1 1 70%;
  text-align: left;
  padding-left: 10px;
}
.action {
  padding-right: 10px;
}
